[submodule "thirdparties/HoloMotion"]
	path = thirdparties/HoloMotion
	url = https://github.com/HorizonRobotics/HoloMotion
[submodule "thirdparties/GR00T-WholeBodyControl"]
	path = thirdparties/GR00T-WholeBodyControl
	url = https://github.com/NVlabs/GR00T-WholeBodyControl
[submodule "thirdparties/unitree_mujoco"]
	path = thirdparties/unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco.git
[submodule "thirdparties/run-sonic"]
	path = thirdparties/run-sonic
	url = https://github.com/5eqn/run-sonic
