[submodule "thirdparties/HoloMotion"]
	path = thirdparties/HoloMotion
	url = https://github.com/HorizonRobotics/HoloMotion
[submodule "thirdparties/GR00T-WholeBodyControl"]
	path = thirdparties/GR00T-WholeBodyControl
	url = https://github.com/NVlabs/GR00T-WholeBodyControl
[submodule "thirdparties/unitree_mujoco"]
	path = thirdparties/unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco.git
[submodule "thirdparties/run-sonic"]
	path = thirdparties/run-sonic
	url = https://github.com/5eqn/run-sonic
[submodule "thirdparties/Humanoid-GPT"]
	path = thirdparties/Humanoid-GPT
	url = https://github.com/GalaxyGeneralRobotics/Humanoid-GPT
[submodule "thirdparties/unitree_sim_isaaclab"]
	path = thirdparties/unitree_sim_isaaclab
	url = https://github.com/unitreerobotics/unitree_sim_isaaclab
[submodule "thirdparties/IsaacLab"]
	path = thirdparties/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab
[submodule "thirdparties/cyclonedds"]
	path = thirdparties/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
[submodule "thirdparties/BFM-Zero"]
	path = thirdparties/BFM-Zero
	url = https://github.com/LeCAR-Lab/BFM-Zero
[submodule "thirdparties/BFM-Zero-deploy"]
	path = thirdparties/BFM-Zero-deploy
	url = https://github.com/LeCAR-Lab/BFM-Zero
[submodule "thirdparties/kimodo"]
	path = thirdparties/kimodo
	url = https://github.com/nv-tlabs/kimodo
